@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);



body{
  background: black;
}

svg{
  width: 600px;
  height: 120px;
  padding-top: 200px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}

.description {
  font-family: Roboto;
	padding-top: 32px;
	font-size: 30px;
	
	color: white;
	text-align: center;
}